.version.genofund {
    color: #0000EE;
    background-color: #ED4290;
}

#page {
    z-index: 1;
    min-height: 418.54999999999995px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 19px;
    padding-bottom: 62.450000000000045px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#pu1489 {
    z-index: 33;
    width: 69.48%;
    margin-left: 6.98%;
}

#u1489 {
    z-index: 33;
    position: relative;
    margin-right: -10000px;
    width: 22.79%;
}

#menuu188 {
    z-index: 2;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    width: 76.32%;
    left: 23.69%;
}

#u189 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
}

#u192 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u192:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u192:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u194-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u192:hover #u194-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u192:active #u194-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u233 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
    left: 20.04%;
}

#u234 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u192.MuseMenuActive, #u234:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u234:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u236-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u192.MuseMenuActive #u194-4, #u234:hover #u236-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u234:active #u236-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u254 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
    left: 40.08%;
}

#u257 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u234.MuseMenuActive, #u257:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u257:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u260-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u234.MuseMenuActive #u236-4, #u257:hover #u260-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u257:active #u260-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1604 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
    left: 60.12%;
}

#u1605 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u257.MuseMenuActive, #u1605:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1605:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1607-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u257.MuseMenuActive #u260-4, #u1605:hover #u1607-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1605:active #u1607-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1273 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.85%;
    left: 80.16%;
}

#u1276 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u1605.MuseMenuActive, #u1276:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1276:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1276.MuseMenuActive {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1279-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u1605.MuseMenuActive #u1607-4, #u1276:hover #u1279-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1276:active #u1279-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1276.MuseMenuActive #u1279-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1811-4 {
    z-index: 119;
    min-height: 49px;
    background-color: transparent;
    margin-top: 4px;
    position: relative;
    width: 75%;
    margin-left: 12.61%;
}

#u1646-4 {
    z-index: 36;
    min-height: 26px;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-top: 21px;
    position: relative;
    width: 19.69%;
    margin-left: 12.4%;
}

#pu1709 {
    z-index: 51;
    margin-top: 13px;
    width: 75.21%;
    margin-left: 12.4%;
}

#u1709 {
    z-index: 51;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 26.18%;
}

#u1709_position_content {
    padding-bottom: 15px;
    width: 100%;
}

#u1755 {
    z-index: 83;
    background-color: transparent;
    position: relative;
    width: 82.02%;
    margin-left: 9%;
}

#u1710 {
    z-index: 52;
    background-color: #0066B3;
    top: -1px;
    margin-bottom: -1px;
    position: relative;
    width: 100%;
}

#u1711-4 {
    z-index: 53;
    min-height: 5px;
    background-color: transparent;
    color: #FF6711;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: -1px;
    position: relative;
    margin-right: -10000px;
    width: 100%;
}

#u1718-4 {
    z-index: 57;
    min-height: 27px;
    background-color: transparent;
    font-style: italic;
    margin-top: 8px;
    position: relative;
    width: 100%;
}

#u1775-4 {
    z-index: 87;
    min-height: 27px;
    background-color: transparent;
    font-weight: bold;
    margin-top: 7px;
    position: relative;
    width: 100%;
}

#u1742-4 {
    z-index: 77;
    min-height: 63px;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#buttonu1814 {
    z-index: 123;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    margin-top: 9px;
    position: relative;
    width: 100%;
}

#buttonu1814:hover {
    background-color: #141414;
    min-height: 0px;
    width: 100%;
    margin: 9px 0px 0px 0%;
}

#buttonu1820 {
    z-index: 124;
    border-color: #787878;
    background-color: #0066B3;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    width: 79.37%;
}

#buttonu1820-a {
    z-index: 124;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    width: 79.37%;
}

#buttonu1820:hover {
    background-color: #141414;
    min-height: 0px;
    width: 79.37%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1820.ButtonSelected {
    background-color: #0066B3;
    min-height: 0px;
    width: 79.37%;
    margin: 0px -10000px 0px 0%;
}

#u1823-4 {
    z-index: 125;
    min-height: 18px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    margin-right: -10000px;
    width: 27.34%;
    left: 49.34%;
}

#buttonu1820:hover #u1823-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 27.34%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1820.ButtonSelected #u1823-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 27.34%;
    margin: 0px -10000px 0px 0%;
}

#u1640 {
    z-index: 35;
    background-color: transparent;
    padding-bottom: 15px;
    position: relative;
    margin-right: -10000px;
    width: 26.18%;
    left: 36.99%;
}

#u1745 {
    z-index: 81;
    background-color: transparent;
    position: relative;
    width: 80.96%;
    margin-left: 10.06%;
}

#u1682 {
    z-index: 40;
    background-color: #0066B3;
    position: relative;
    width: 100%;
}

#u1688-4 {
    z-index: 41;
    min-height: 5px;
    background-color: transparent;
    color: #FF6711;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: -1px;
    position: relative;
    margin-right: -10000px;
    width: 100%;
}

#u1721-4 {
    z-index: 61;
    min-height: 27px;
    background-color: transparent;
    font-style: italic;
    margin-top: 8px;
    position: relative;
    width: 100%;
}

#u1778-4 {
    z-index: 91;
    min-height: 27px;
    background-color: transparent;
    font-weight: bold;
    margin-top: 7px;
    position: relative;
    width: 100%;
}

#u1739-4 {
    z-index: 73;
    min-height: 63px;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#buttonu1826 {
    z-index: 129;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    margin-top: 9px;
    position: relative;
    width: 100%;
}

#buttonu1826:hover {
    background-color: #141414;
    min-height: 0px;
    width: 100%;
    margin: 9px 0px 0px 0%;
}

#buttonu1827 {
    z-index: 130;
    border-color: #787878;
    background-color: #0066B3;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    width: 60.85%;
}

#buttonu1827-a {
    z-index: 130;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    width: 60.85%;
}

#buttonu1827:hover {
    background-color: #141414;
    min-height: 0px;
    width: 60.85%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1827.ButtonSelected {
    background-color: #0066B3;
    min-height: 0px;
    width: 60.85%;
    margin: 0px -10000px 0px 0%;
}

#u1828-4 {
    z-index: 131;
    min-height: 18px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    margin-right: -10000px;
    width: 35.66%;
    left: 64.35%;
}

#buttonu1827:hover #u1828-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 35.66%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1827.ButtonSelected #u1828-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 35.66%;
    margin: 0px -10000px 0px 0%;
}

#u1700 {
    z-index: 45;
    background-color: transparent;
    padding-bottom: 15.03601143532984px;
    position: relative;
    margin-right: -10000px;
    width: 26.18%;
    left: 73.83%;
}

#u1765 {
    z-index: 85;
    background-color: transparent;
    position: relative;
    width: 80.96%;
    margin-left: 9.53%;
}

#u1701 {
    z-index: 46;
    background-color: #0066B3;
    position: relative;
    width: 100%;
}

#u1702-4 {
    z-index: 47;
    min-height: 5px;
    background-color: transparent;
    color: #FF6711;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: -1px;
    position: relative;
    margin-right: -10000px;
    width: 100%;
}

#u1724-4 {
    z-index: 65;
    min-height: 27px;
    background-color: transparent;
    font-style: italic;
    margin-top: 8px;
    position: relative;
    width: 100%;
}

#u1781-4 {
    z-index: 95;
    min-height: 27px;
    background-color: transparent;
    font-weight: bold;
    position: relative;
    width: 100%;
}

#u1730-4 {
    z-index: 69;
    min-height: 63px;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#buttonu1835 {
    z-index: 135;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    margin-top: 9px;
    position: relative;
    width: 100%;
}

#buttonu1835:hover {
    background-color: #141414;
    min-height: 0px;
    width: 100%;
    margin: 9px 0px 0px 0%;
}

#buttonu1814.ButtonSelected, #buttonu1826.ButtonSelected, #buttonu1835.ButtonSelected {
    background-color: #FF6711;
    min-height: 0px;
    width: 100%;
    margin: 9px 0px 0px 0%;
}

#buttonu1836 {
    z-index: 136;
    height: 18px;
    border-color: #787878;
    background-color: #0066B3;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    width: 35.45%;
}

#buttonu1836-a {
    z-index: 136;
    height: 18px;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    width: 35.45%;
}

#buttonu1836:hover {
    background-color: #141414;
    height: 18px;
    min-height: 0px;
    width: 35.45%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1836.ButtonSelected {
    background-color: #0066B3;
    height: 18px;
    min-height: 0px;
    width: 35.45%;
    margin: 0px -10000px 0px 0%;
}

#u1837-4 {
    z-index: 137;
    min-height: 18px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    margin-right: -10000px;
    width: 21.7%;
    left: 44.45%;
}

#buttonu1835:hover #u1837-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 21.7%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1835.ButtonSelected #u1837-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 21.7%;
    margin: 0px -10000px 0px 0%;
}

#pbuttonu1784 {
    z-index: 99;
    margin-top: 13px;
    width: 74.59%;
    margin-left: 12.61%;
}

#buttonu1784 {
    z-index: 99;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    padding-bottom: 13px;
    position: relative;
    margin-right: -10000px;
    width: 26.12%;
}

#buttonu1784:hover {
    background-color: #141414;
    min-height: 0px;
    width: 26.12%;
    margin: 0px -10000px 0px 0%;
}

#u1785-4 {
    z-index: 100;
    min-height: 23px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    width: 63.64%;
    left: 18.19%;
}

#buttonu1784:hover #u1785-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu1784:hover #u1785-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu1790 {
    z-index: 104;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    padding-bottom: 13px;
    position: relative;
    margin-right: -10000px;
    width: 26.12%;
    left: 37.02%;
}

#buttonu1790:hover {
    background-color: #141414;
    min-height: 0px;
    width: 26.12%;
    margin: 0px -10000px 0px 0%;
}

#u1791-4 {
    z-index: 105;
    min-height: 23px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    width: 63.64%;
    left: 18.19%;
}

#buttonu1784.ButtonSelected #u1785-4, #buttonu1790:hover #u1791-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu1784.ButtonSelected #u1785-4 p, #buttonu1790:hover #u1791-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu1796 {
    z-index: 109;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    padding-bottom: 13px;
    position: relative;
    margin-right: -10000px;
    width: 26.12%;
    left: 73.89%;
}

#buttonu1796:hover {
    background-color: #141414;
    min-height: 0px;
    width: 26.12%;
    margin: 0px -10000px 0px 0%;
}

#buttonu1784.ButtonSelected, #buttonu1790.ButtonSelected, #buttonu1796.ButtonSelected {
    background-color: #FF6711;
    min-height: 0px;
    width: 26.12%;
    margin: 0px -10000px 0px 0%;
}

#u1797-4 {
    z-index: 110;
    min-height: 23px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    width: 63.64%;
    left: 18.19%;
}

#buttonu1790.ButtonSelected #u1791-4, #buttonu1796:hover #u1797-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu1796.ButtonSelected #u1797-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu1790.ButtonSelected #u1791-4 p, #buttonu1796:hover #u1797-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu1802 {
    z-index: 114;
    border-color: #787878;
    background-color: #0066B3;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-top: 34px;
    position: relative;
    width: 44.17%;
    margin-left: 27.82%;
}

#buttonu1802:hover {
    background-color: #141414;
    min-height: 0px;
    width: 44.17%;
    margin: 34px 0px 0px 27.8125%;
}

#u1803-4 {
    z-index: 115;
    min-height: 23px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    width: 87.03%;
    left: 6.61%;
}

#buttonu1802:hover #u1803-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 87.03%;
    margin: 5px -10000px 0px 0%;
}

#buttonu1802.ButtonSelected #u1803-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 87.03%;
    margin: 5px -10000px 0px 0%;
}

#buttonu1796.ButtonSelected #u1797-4 p, #buttonu1802:hover #u1803-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu1802.ButtonSelected #u1803-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 745px);
}

#muse_css_mq, .html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}

#u1755_img, #u1745_img, #u1765_img, #u1489_img {
    width: 100%;
}