.version.index {
    color: #0000FE;
    background-color: #7BE5CE;
}

#page {
    z-index: 1;
    min-height: 352px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 28px;
    padding-bottom: 120px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#menuu188 {
    z-index: 2;
    position: relative;
    width: 53.03%;
    margin-left: 23.44%;
}

#u196 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
}

#u197 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u197:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u197:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u198-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u197:hover #u198-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u197:active #u198-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u189 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
    left: 20.04%;
}

#u192 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u197.MuseMenuActive, #u192:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u192:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u194-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u197.MuseMenuActive #u198-4, #u192:hover #u194-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u192:active #u194-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u233 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
    left: 40.08%;
}

#u234 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u192.MuseMenuActive, #u234:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u234:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u236-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u192.MuseMenuActive #u194-4, #u234:hover #u236-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u234:active #u236-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u254 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.65%;
    left: 60.12%;
}

#u257 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u234.MuseMenuActive, #u257:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u257:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u260-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u234.MuseMenuActive #u236-4, #u257:hover #u260-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u257:active #u260-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1273 {
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    width: 19.85%;
    left: 80.16%;
}

#u1276 {
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}

#u257.MuseMenuActive, #u1276:hover {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1276:active {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1276.MuseMenuActive {
    min-height: 0px;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

#u1279-4 {
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    width: 100%;
}

#u257.MuseMenuActive #u260-4, #u1276:hover #u1279-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1276:active #u1279-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u1276.MuseMenuActive #u1279-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u278-6 {
    z-index: 33;
    min-height: 81px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    margin-top: 24px;
    position: relative;
    width: 34.38%;
    margin-left: 32.82%;
}

#u281-4 {
    z-index: 39;
    min-height: 30px;
    background-color: transparent;
    text-align: center;
    margin-top: 22px;
    position: relative;
    width: 22.5%;
    margin-left: 40.21%;
}

#u290-4 {
    z-index: 51;
    min-height: 18px;
    background-color: transparent;
    text-align: center;
    font-style: italic;
    position: relative;
    width: 6.46%;
    margin-left: 48.34%;
}

#u284-4 {
    z-index: 43;
    min-height: 30px;
    background-color: transparent;
    text-align: center;
    margin-top: 5px;
    position: relative;
    width: 22.5%;
    margin-left: 40.21%;
}

#u293-4 {
    z-index: 55;
    min-height: 18px;
    background-color: transparent;
    text-align: center;
    font-style: italic;
    top: -3px;
    margin-bottom: -3px;
    position: relative;
    width: 6.46%;
    margin-left: 48.34%;
}

#u287-4 {
    z-index: 47;
    min-height: 30px;
    background-color: transparent;
    text-align: center;
    position: relative;
    width: 22.5%;
    margin-left: 40.21%;
}

#pbuttonu338 {
    z-index: 64;
    margin-top: 13px;
    width: 41.98%;
    margin-left: 30.53%;
}

#buttonu338 {
    z-index: 64;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    padding-bottom: 13px;
    position: relative;
    margin-right: -10000px;
    width: 46.41%;
}

#u339-4 {
    z-index: 65;
    min-height: 23px;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    width: 63.64%;
    left: 18.19%;
}

#buttonu338:hover #u339-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu338:hover #u339-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu296 {
    z-index: 59;
    border-color: #787878;
    background-color: #FF6711;
    border-radius: 10px;
    padding-bottom: 13px;
    position: relative;
    margin-right: -10000px;
    width: 46.41%;
    left: 53.6%;
}

#buttonu338:hover, #buttonu296:hover {
    background-color: #141414;
    min-height: 0px;
    width: 46.41%;
    margin: 0px -10000px 0px 0%;
}

#buttonu296.ButtonSelected {
    background-color: #FF6711;
    min-height: 0px;
    width: 46.41%;
    margin: 0px -10000px 0px 0%;
}

#u297-4 {
    z-index: 60;
    min-height: 23px;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    width: 63.64%;
    left: 18.19%;
}

#buttonu338.ButtonSelected #u339-4, #buttonu296:hover #u297-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu296.ButtonSelected #u297-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 63.64%;
    margin: 14px -10000px 0px 0%;
}

#buttonu338.ButtonSelected #u339-4 p, #buttonu296:hover #u297-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu296.ButtonSelected #u297-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 499px);
}

#muse_css_mq, .html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}